.cloud {
    background-color: #061032;
    width: 512px;
    height: 512px;
    position: absolute;
}

.cloud-element {
    font-size: 3em;
    text-align: center;
    color: #912ced;
}

a {
    color: #09fdd8;
    text-decoration: none;
}