.book{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    margin-top: 4rem;
    height: 85vh;
    width: 70vw;
    &-cover{
        position: absolute;
        background-color: #1adfc162;
        z-index: -10;
        width: 50%;
        height: 100%;
        border-top-left-radius: 2rem;
        border-bottom-left-radius:2rem;
        &.right{
            left: 50%;
            transform: rotateY(-180deg);
        }
    }
    &-page{
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: 2rem;
        perspective: 2000px;
        &-first{
            box-shadow: -8px 0px 6px 0px rgba(7, 1, 1, 0.281),
                    inset -8px 0px 20px 0px #030c2b;
            width: 50%;
            background-color: #061032;
            height: 100%;
            padding: 5rem 5rem;
            cursor: default;
        }
        &-last{
            position: absolute;
            width: 50%;
            background-color: transparent;
            height: 100%;
            padding: 5rem 5rem;
            left: 50%;
            top: 0;
            z-index: -10;
            cursor: default;
        }
        &-item{
            box-shadow: 8px 0px 6px 0px rgba(7, 1, 1, 0.281),
                    inset 8px 0px 20px 0px #030c2b;
            position: absolute;
            width: calc(50% - 2rem);
            height: calc(100% - 4rem);
            left: 50%;
            top: 2rem;
            background-color: #061032;
            transform-style: preserve-3d;
            transform: rotateY(-180deg);
            transition: transform 1s linear;
            transform-origin: 0% 0%;
            
            &.turn{
                transform: rotateY(0deg);
            }
            &-font{
                transform: rotateY(0deg);
                position: absolute;
                backface-visibility: hidden;
                width: 100%;
            }
            &-back{
                transform: rotateY(-180deg);
                position: absolute;
                width: 100%;
                backface-visibility: hidden;
            }
        }
    }
}
h1{
    color: #09fdd8;
    font-size: 4rem;
    font-weight: 1000;
}
p{
    text-align: justify;
    font-size: 2rem;
    color: rgb(184, 184, 184);
}
h3{
    font-size: 2.5rem;
}
h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    text-align:justify;
}
.content-info{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100%' width='100%'><text x='0' y='0' fill='rgba(155, 155, 155, 0.1)' font-size='200' font-weight='1000'>info!</text></svg>");
    background-repeat: no-repeat;
    overflow: hidden;
    & > * ~ *{
        margin-top: 3rem; 
    }
    & > img{
        background-color: rgb(161, 5, 52);
        height: 15rem;
        width: auto;
        border-radius: 1.5rem;
    }
    
    & .list-icon{
        & > *~*{
                margin-left: 1rem;
            }
        & > i{
           
            font-size: 3.5rem;
            &:nth-child(1){
                color: #003cff
            }
            &:nth-child(2){
                color: #ffffff
            }
            &:nth-child(3){
                color: #fffb24
            }
            
            &:hover{
                animation: identifier .5s linear;
            }
            @keyframes identifier {
                0%{
                    transform: scale(1);
                }
                50%{
                    transform: scale(1.5);
                }
                100%{
                    transform: scale(1);
                }
                
            }
        }
    }
    & > h2{
        
        &::before{
            content: "<intro> ";
            color: #868686;
        }
        &::after{
            content: " </intro>";
            color: #868686;
        }
    }
}

.content-2{
    margin: 4rem;
    text-align: left;
    color: #fff;
    font-size: 130%;
    .time{
        display: inline;
        float: right;
        color:rgb(5, 112, 161);
        font-size: 1.8rem;
    }
}
.content-3{
    position: relative;
    margin: 4rem;
    text-align: left;
    color: #fff;
    .time{
        display: inline;
        float: right;
        color:rgb(5, 112, 161);
        font-size: 2rem;
    }
}

.demo-wrapper{
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & *~*{
        margin-top: 3rem;
    }

    & > h2{
        &::before{
            content: "<description> ";
            font-size: 2.3rem;
            color: rgb(161, 161, 161);
        }
        &::after{
            content: " </description>";
            font-size: 2.3rem;
            color: rgb(161, 161, 161);
            font-weight: 100;
        }

    }
    & > div{
        font-size: 2.5rem;
        color: #fff;
        text-align: left;
        & > a{
            color: #09fdd8;
        }
    }
}
video {
    border-radius: 1rem;
    outline: transparent;
    border: none;
}

.contacts-wrapper{
    & > h1{
        font-size: 5rem;
    }
    & > p{
        font-size: 3rem;
        color: rgb(255, 255, 255);
        margin: 1rem 0 4rem 0;
        text-align: center;
    }
}
.form-group{
    background-color: transparent;
    height: 100%;
    
    & > input{
        background-color: #1adfc27e;
        color: #ffffff;
        margin: 1rem 0;
        border-radius: 1rem;
        font-size: 3rem;
        height: 5rem;
        border: none;
        width: 100%;
        outline: none;
        padding: 2rem;
    }
    & > textarea{
        background-color: #1adfc27e;
        padding: 2rem;
        margin: 1rem 0;
        color: #ffffff;
        font-size: 3rem;
        width: 100%;
        height: 15rem;
        border: none;
        outline: none;
        border-radius: 1rem;
    }
}

button{
    padding: 1rem 2rem;
    background-color: #09fdd87a;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
    animation: background-color 3s linear;
    &:hover{
        background-color: #09fdd8;

    }
}